* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #f2f2f2;
  height: 100vh;
}

.formWrapper {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.formWrapper > button {
  background-color: #0275d8;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1.89rem;
  margin: 0 0.75rem;
}

.formWrapper > button:hover {
  background-color: #5bc0de;
}

.formWrapper > input {
  outline: none;
  border: none;
  padding: 0 12px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainWrapper > .content {
  background-color: #0275d8;
  color: #fff;
  width: 300px;
  height: 250px;
}

.contentWrapper {
  display: flex;
  margin: 0 8px;
  justify-content: space-between;
}

.contentWrapper:nth-child(2) {
  margin: 12px 8px;
}

.header {
  background-color: #292b2c;
  margin: 0 0;
  padding: 10px 0;
}

.header > h2 {
  margin: 0 8px;
}
